/* 게시글 본문 */
#article-content > pre {
    white-space: pre-wrap; /* Since CSS 2.1 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

#article-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

#delete-article-form {
    text-align: center;
}

#delete-article-form .d-flex {
    flex-direction: column; /* 작은 화면일 때 세로로 정렬되도록 합니다. */
}
